@model IEnumerable<TaskManagementApp.Data.TeamUsers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Teams</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-TeamId="@item.TeamId" class="btn btn-warning">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
